.section-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12rem;
  position: relative;
  min-height: 100vh;
  padding: 0 4rem;
  background-color: var(--primary-yellow);
}
.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
}
.intro__title {
  text-transform: capitalize;
  color: var(--secondary-indigo);
}
.intro__decs {
  max-width: 50rem;
  color: var(--secondary-indigo);
}

/* 이미지 */
.intro__right {
}
.intro__img-wrap {
  position: relative;
  max-width: 60rem;
  aspect-ratio: 1 / 1;
  border: 0.1rem solid var(--secondary-indigo);
  overflow: hidden;
}
.intro__slide-top,
.intro__slide-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 98%;
  height: 2rem;
  background: url(../../img/intro-2.png) center center repeat-x;
  background-size: cover;
}
.intro__slide-top {
  top: 1rem;
  animation: slide 40s linear infinite alternate-reverse;
}
.intro__slide-bottom {
  bottom: 1rem;
  animation: slide 40s linear infinite alternate;
}

/* media */
/* 1200px */
@media (max-width: 1200px) {
  .section-intro {
    column-gap: 4rem;
  }
}
/* 1024px */
@media (max-width: 1024px) {
  .section-intro {
    flex-direction: column;
    column-gap: inherit;
    row-gap: 8rem;
    padding: 12rem 2rem;
  }
  .section-intro > div {
    width: 100%;
  }
  .intro__left {
    align-items: center;
  }
  .intro__title {
    text-align: center;
  }
  .intro__decs {
    text-align: center;
  }
  .intro__img-wrap {
    width: 100%;
    max-width: inherit;
    aspect-ratio: 4 / 2.5;
  }
}

/* 768px */
@media (max-width: 768px) {
  .section-intro {
    padding: 12rem 1.6rem;
  }
}
@media (max-width: 480px) {
  .intro__decs {
    max-width: 100%;
  }
  .intro__img-wrap {
    aspect-ratio: 1 / 1;
  }
}
