.section-intro {
  display: flex;
  column-gap: 4rem;
  position: relative;
  padding: 8rem 4rem;
  z-index: 1;
  overflow: hidden;
  background-color: var(--primary-yellow);
}
.section-intro > div {
  width: 50%;
}
.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
  padding: 0 10rem;
}
.intro__title {
  text-transform: capitalize;
  color: var(--secondary-indigo);
}
.intro__decs {
  max-width: 80%;
  color: var(--secondary-indigo);
}

/* 이미지 */
.intro__img-wrap {
  position: relative;
  height: 60rem;
  border-radius: 4rem 0 0 0;
  border: 0.1rem solid var(--secondary-indigo);
  overflow: hidden;
}
.intro__img-wrap > figcaption {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  width: 98%;
  height: 2rem;
  background: url(../../img/intro-2.png) center center repeat-x;
  background-size: cover;
  animation: slide 40s linear infinite alternate;
}

/* media */
/* 1200px */
@media (max-width: 1200px) {
  .section-intro {
    column-gap: 2rem;
    padding: 8rem 2rem;
  }
  .intro__left {
    padding: 0 4rem;
  }
}
/* 1024px */
@media (max-width: 1024px) {
  .section-intro {
    flex-direction: column;
    column-gap: inherit;
    row-gap: 8rem;
  }
  .section-intro > div {
    width: 100%;
  }
  .intro__left {
    align-items: center;
    padding: 0 0rem;
  }
  .intro__title {
    text-align: center;
  }
  .intro__decs {
    text-align: center;
  }
  .intro__img-wrap {
    height: 50rem;
  }
}

/* 768px */
@media (max-width: 768px) {
  .section-intro {
    padding: 12rem 1.6rem;
  }
}
@media (max-width: 480px) {
  .intro__decs {
    max-width: 100%;
  }
}
