.section-intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  position: relative;
  padding: 8rem 4rem;
  z-index: 1;
  overflow: hidden;
  background-color: var(--primary-yellow);
}
.intro__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4rem;
  height: 100%;
  padding: 0 10rem;
}
.intro__title {
  text-transform: capitalize;
  color: var(--secondary-indigo);
}
.intro__decs {
  color: var(--secondary-indigo);
}
/* 이미지 */
.intro__img-wrap {
  position: relative;
  height: 60rem;
  border-radius: 4rem 0 0 0;
  border: 0.1rem solid var(--secondary-indigo);
  overflow: hidden;
}
.intro__img-wrap > figcaption {
  position: absolute;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  width: 98%;
  height: 2rem;
  background: url(../../img/intro-2.png) center center repeat-x;
  background-size: cover;
  animation: slide 40s linear infinite alternate;
}

/* media */
/* 1400px */
@media (max-width: 1400px) {
}
@media (max-width: 1200px) {
}
/* 1023px */
@media (max-width: 1024px) {
}
@media (max-width: 868px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width: 320px) {
}
