/* 큰 글씨 32px, 작은 제목 24px, 설명 18px, 데코 12px */
/* 큰 글씨 11vw -> 14vw */
/* 데코 글씨 18px -> 16px */
.section-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  padding-top: 10vw;
  background-color: var(--primary);
  overflow: hidden;
  border-left: 1rem solid var(--primary-yellow);
  border-right: 1rem solid var(--primary-yellow);
}
.main__text-01,
.main__text-02 {
}
.empty-m {
  display: none;
}
/* media */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .main__text-01,
  .main__text-02 {
    font-size: 14vw;
    text-align: center;
  }
  .empty-m {
    display: block;
  }
}
@media (max-width: 480px) {
}
