.section-skills {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 18rem 8rem;
  color: var(--secondary-indigo);
  background-color: var(--primary-yellow);
}
.section-skills > h2 {
  font-family: "Meditative", sans-serif;
  text-transform: capitalize;
}
.skills__contents {
  width: 50%;
}
.skills__contents > p {
  margin-bottom: 4rem;
}
.skills__list-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
.skills__list {
  display: flex;
  column-gap: 4rem;
}
.skills__icon {
  width: 6rem;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}
.skills__list:hover .skills__decs {
  font-weight: 600;
}

/* media */
@media (max-width: 1200px) {
  .section-skills {
    padding: 18rem 4rem;
  }
  .skills__contents {
    width: 60%;
  }
}
@media (max-width: 1024px) {
  .section-skills {
    flex-direction: column;
    row-gap: 2rem;
    padding: 12rem 4rem;
  }
  .skills__contents {
    width: 100%;
  }
  .skills__contents > p {
    margin-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .section-skills {
    padding: 12rem 1.6rem;
  }
}
@media (max-width: 480px) {
  .skills__list {
    column-gap: 2rem;
  }
  .skills__icon {
    width: 4rem;
  }
}
@media (max-width: 320px) {
}
